<!-- header -->
<%- include('header') %>

    <body>
        <!-- navbar -->
        <%- include('navbar') %>

            <!-- main section -->
            <main class="container">



                
            </main>
    </body>

<!-- footer -->
<%- include('footer') %>