<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furret</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="pikachu_favicon.png" type="image/png">
</head>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <div class="centre-text">
            <u><h1>Furret</h1></u>
            <h4>something</h4>
        </div>

        <!-- page content -->
        <div class="grid card-info-row">
            <div class="card-info-pic centre-item">
                <img src="furret.webp" alt="picture of furret" class="card-pic">
            </div>
            <div class="card-info-details grid marking">
                <div>
                    furret info
                </div>
                <div> 
                    second row of info
                </div>
                
            </div>
        </div>
    </main>





</body>

<!-- footer -->
<%- include('footer') %>

</html>