<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Cards</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="pikachu_favicon.png" type="image/png">
</head>

<body>
    <!-- navbar -->
    <%- include('navbar') %>


    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup>
            <h1>Filter</h1>
            <p> search </p>
        </hgroup>

        <div>          
            <div>
                <!-- Checkboxes -->
                <details class="dropdown">
                    <summary>
                        Type
                    </summary>
                    <ul>
                        <li><label><input type="checkbox" name="fire" />Fire</label></li>
                        <li><label><input type="checkbox" name="water" />Water</label></li>
                        <li><label><input type="checkbox" name="grass" />Grass</label></li>
                        <li><label><input type="checkbox" name="fairy" />Fairy</label></li>
                    </ul>

                </details>
            </div>
            <div>
                <!-- Checkboxes -->
                <details class="dropdown">
                    <summary>
                        Select phases of matter...
                    </summary>
                    <ul>
                        <li>
                            <label>
                                <input type="checkbox" name="solid" />
                                Solid
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="liquid" />
                                Liquid
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="gas" />
                                Gas
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="plasma" />
                                Plasma
                            </label>
                        </li>
                    </ul>
                </details>
            </div>
        </div>
    </main>

</body>

<!-- footer -->
<%- include('footer') %>

</html>