<footer>
    <div class="centre-item">
        <img src="pokemon_logo.png" class="scaled-down-logo" alt="Pokemon logo footer">
    </div>
    <br>
    <div class="grid padding">
        <div>
            <h6>About</h6>
            <div class="footer-text">This website about Pokémon Trading Card Game collection is made for the Web
                Development Module assignment.</div>
        </div>
        <div>
            <h6>Useful links</h6>
            <li><a href="#" class="footer-text">Contact</a></li>
            <li><a href="#" class="footer-text">About</a></li>
        </div>
    </div>
</footer>

<div class="block">
    <div class="copyright-text">© Made by Kerry Wu 40198326, MSc Software Development at Queen's University Belfast 2024
    </div>
</div>