<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <div class="full-picture">
            <img src="big_pikachu.jpeg">
        </div>

    </main>



</body>

<!-- footer -->
<%- include('footer') %>