<!-- header -->
<%- include('header') %>

<body class="homescreen">
    <!-- navbar -->
    <%- include('navbar') %>

    
    <!-- main section -->
    <main class="homescreen-img-format">
        <div>
            <img src="homescreen.webp">
        </div>
        <br>
        <div class="grid centre-item">
            <a href="/cards"><button>BROWSE CARDS</button></a>
            <% if (sessionobj.authen) { %>
                <a href="/collections"><button>BROWSE COLLECTIONS</button></a>
                <a href="/account"><button>MY ACCOUNT</button></a>
            <% } else { %>
                <a href="/login"><button>LOG IN</button></a>
                <a href="/signup"><button>SIGN UP</button></a>
            <% } %>
        </div>
        <hr>
    </main>


</body>

<!-- footer -->
<%- include('footer') %>