<!-- header -->
<%- include('header') %>

<body class="homescreen">
    <!-- navbar -->
    <%- include('navbar') %>

    
    <!-- main section -->
    <main class="homescreen-img-format">
        <div>
            <img src="homescreen.webp">
        </div>
        <br>
        <div class="grid centre-item">
            <a href="/signup"><button>SIGN UP</button></a>
            <a href="/cards"><button>BROWSE CARDS</button></a>
        </div>
        <hr>
    </main>


</body>

<!-- footer -->
<%- include('footer') %>