<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1>Welcome back to Pokemon TCG</h1>
            <p>Log in and get started</p>
        </hgroup>

        <!-- page content -->
        <div class="grid">
            <!-- left section -->
            <div>
                Perks of having an account:
                <ul>
                    <li>Can have your own collection of cards</li>
                    <li>Can comment on other people's collections</li>
                    <li>Can add cards to your wishlist</li>
                </ul>
            </div>

            <!-- right section -->
            <article>
                <!-- if error message -->
                <% if (errorMessage) { %>
                <div class="errorMessage">
                    <p><%= errorMessage %></p>
                </div>  
                <% } %>
                <!-- form -->
                <form method="post" action="/login">
                    <fieldset>
                        <label>
                            Email address
                            <input name="email" placeholder="Email address" autocomplete="email" required/>
                        </label>
                        <label>
                            Password
                            <input type="password" name="password" placeholder="Password" autocomplete="new-password" required/>
                        </label>
                    </fieldset>

                    <input type="submit" value="Log in" />
                </form>

                <a href="/signup"><button class="outline full-length-button">Don't have an account? Sign up</button></a>

            </article>
        </div>
    </main>





</body>

<!-- footer -->
<%- include('footer') %>

</html>