<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1>Log in to Pokemon TCG</h1>
            <p>Welcome back</p>
        </hgroup>

        <!-- page content -->
        <div class="grid signup-login-flex">
            <!-- left section -->
            <div>
                <div>
                    <h5>Log in to:</h5>
                    <ul>
                        <li>Browse other's collections and view your own collections</li>
                        <li>View and add to your wishlist</li>
                        <li>See your account details</li>
                    </ul>
                </div>
                <div class="signup-login-img">
                    <img src="login-img.png" alt="image of pokemon">
                </div>
            </div>

            <!-- right section -->
            <div>
                <article>
                    <!-- if error message -->
                    <% if (errorMessage) { %>
                    <div class="errorMessage">
                        <p><%= errorMessage %></p>
                    </div>  
                    <% } %>
                    <!-- form -->
                    <form method="post" action="/login">
                        <fieldset>
                            <label>
                                Email Address
                                <input name="email" placeholder="Email Address" autocomplete="email" required/>
                            </label>
                            <label>
                                Password
                                <input type="password" name="password" placeholder="Password" autocomplete="new-password" required/>
                            </label>
                        </fieldset>

                        <input type="submit" value="Log in" />
                    </form>

                    <a href="/signup"><button class="outline full-length-button">Don't have an account? Sign up</button></a>

                </article>
            </div>
        </div>
    </main>





</body>

<!-- footer -->
<%- include('footer') %>