<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1>Sign up to Pokemon TCG</h1>
            <p>Welcome</p>
        </hgroup>

        <!-- page content -->
        <div class="grid">
            <!-- left section -->
            <div>
                Perks of having an account:
                <ul>
                    <li>Can have your own collection of cards</li>
                    <li>Can comment on other people's collections</li>
                    <li>Can add cards to your wishlist</li>
                </ul>
            </div>

            <!-- right section -->
            <article>
                <!-- error message -->
                <% if (errorMessage) { %>
                <div class="errorMessage">
                        <p><%= errorMessage %></p>
                </div>  
                <% } %>
                <!-- form -->
                <form method="post" action="/signup">
                    <fieldset>
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    First Name
                                    <input type="text" name="firstname" placeholder="First Name" aria-label="Text" required/>
                                </label>
                            </div>
                            <div>
                                <label>
                                    Last Name
                                    <input type="text" name="lastname" placeholder="Last Name" aria-label="Text" required/>
                                </label>
                            </div>
                        </div>
                        <!-- <label>
                            Date of Birth
                            <input type="date" name="dateofbirth" placeholder="Date of Birth" />
                        </label> -->
                        <label>
                            Email Address
                            <input type="text" name="email" placeholder="Email Address" autocomplete="email" required/>
                        </label>
                        <label>
                            Password
                            <input type="password" name="password" placeholder="Password" autocomplete="new-password" required/>
                        </label>
                    </fieldset>

                    <input type="submit" value="Sign Up"/>
                </form>

                <a href="/login"><button class="outline full-length-button">Already have an account? Log in</button></a>

            </article>
        </div>
    </main>





</body>

<!-- footer -->
<%- include('footer') %>

