<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="icon" href="../images/pikachu_favicon.png" type="image/png">
</head>

<body>
    <!-- header -->
    <nav>
        <ul>
            <li><a href="index.html"><img src="../images/pokemon_logo.png" class="scaled-down-logo"
                        alt="Pokemon logo navbar"></a></li>
            <li><a href="cards.html">Cards</a></li>
            <li><a href="#">Packs</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul>
            <li><a href="login.html"><button class="outline">Log In</button></a></li>
            <li><a href="signup.html"><button class="primary">Sign Up</button></a></li>
        </ul>
    </nav>

    <main class="container">
        <hgroup class="centre-text">
            <h1>Welcome to Pokemon TCG</h1>
            <p>Sign up and get started</p>
        </hgroup>
        <div class="grid padding">
            <div>
                Perks of having an account:
                <ul>
                    <li>Can have your own collection of cards</li>
                    <li>Can comment on other people's collections</li>
                    <li>Can add cards to your wishlist</li>
                </ul>
            </div>
            <article>
                <form>
                    <fieldset>
                        <div class="grid">
                            <div>
                                <label>
                                    First Name
                                    <input type="text" name="firstname" placeholder="First Name" aria-label="Text" />
                                </label>
                            </div>
                            <div>
                                <label>
                                    Last Name
                                    <input type="text" name="lastname" placeholder="Last Name" aria-label="Text" />
                                </label>
                            </div>
                        </div>
                        <label>
                            Email address
                            <input name="email" placeholder="Email address" autocomplete="email" />
                        </label>
                        <label>
                            Password
                            <input type="password" name="password" placeholder="Password" autocomplete="new-password" />
                        </label>
                    </fieldset>

                    <input type="submit" value="Sign Up" />
                </form>

                <a href="login.html"><button class="outline full-length-button">Already have an account? Log
                        in</button></a>

            </article>
        </div>
    </main>





</body>

<footer>
    <div class="centre-img">
        <img src="../images/pokemon_logo.png" class="scaled-down-logo" alt="Pokemon logo footer">
    </div>
    <br>
    <div class="grid">
        <div class="padding">
            <h6>About</h6>
            <div class="footer-text">This website about Pokémon Trading Card Game collection is made for the Web
                Development Module assignment.</div>
        </div>
        <div class="padding">
            <h6>Useful links</h6>
            <li><a href="#" class="footer-text">Help</a></li>
            <li><a href="#" class="footer-text">About</a></li>
        </div>
    </div>


</footer>
<div class="block">
    <div class="copyright-text">© Made by Kerry Wu 40198326, MSc Software Development at Queen's University Belfast 2024
    </div>
</div>

</html>