/* nav bar */
nav {
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(254, 254, 254, 0.75);
    z-index: 1000;
    height: 75px;
    border-bottom: thin solid lightgrey;
}

@media (prefers-color-scheme: dark) {
    nav {
        background-color: rgba(19, 23, 31, 0.75);
        border-bottom: thin solid #0072AD;
    }
}

nav li {
    padding-left: 20px;
}

/* nav button{
    width: 100px;
} */

/* images */
.scaled-down-logo {
    max-width: 125px;
}

.centre-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-picture {
    max-width: 100%;
}

/* footer */
footer {
    background-color: auto;
}

.copyright-text {
    text-align: center;
    font-size: 14px;
    color: #fefefe;
}

.footer-text {
    font-size: 14px;
}

.block {
    background-color: #0072AD;
}

/* general */
body {
    background-color: auto;
    padding-top: 85px;

    /* testing having image as background */
    /* background-image: url('../images/forest_background.jpg');
    background-size: cover;
    background-attachment: fixed; */
}

.padding {
    padding: 20px;
}

.marking {
    /*remove*/
    border: thin solid red;
}

.centre-text {
    text-align: center;
}

.container {
    padding-bottom: 100px;
}

/* cards page */
.filter-button-padding {
    padding-bottom: 20px;
}

.rounded-button {
    border-radius: 30px;
}

.full-length-button {
    width: 100%;
}

.filter-card-grid{
    display: grid;
    grid-template-columns: 1fr 4fr; /* Divide the grid into two columns, 1/5 and 4/5 */
    grid-gap: 10px; /* Adjust as needed */
}



.card {
    padding: 10px;
    transition: transform .2s;
    flex: 1 0 auto; /* flex-grow: 1, flex-shrink: 0, flex-basis: auto */
    max-width: calc(25% - 1%); /* Calculate the max-width considering margin */
    margin: 0.5%;
}

.card:hover {
    transform: scale(1.05);
}

.card-pic-padding {
    padding-bottom: 5%;
    max-width: 100%;
}

.cards-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



/* card info page */
.card-info-row {
    display: flex;
}

.card-info-pic {
    flex: 1;
    /* Take up 1/3 of the available space */

}

.card-pic {
    width: 320px;
    height: 447px;
}

.card-info-details {
    flex: 2;
    /* Take up 2/3 of the available space */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
}



/* tablet view */

@media (max-width: 1023px) {

    /* cards page  */
    .filter-card-grid{
        grid-template-columns: 1fr 2fr; /* could be 1,3 */
    }

    .card {
        max-width: calc(50% - 1%); /* Calculate the max-width considering margin, could be 33% */
    }

    /* card info page */
    .card-info-row {
        flex-direction: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-info-pic {
        flex: 1;
    }

    .card-info-details {
        flex: 1;
        grid-template-columns: repeat(1, 1fr);
        /* One column for tablet mode */
    }



}


/* phone view */

@media (max-width: 767px) {

    /* cards page  */
    .filter-card-grid{
        display: flex;
        flex-direction: column;
    }

    .card {
        max-width: calc(50% - 1%); /* Calculate the max-width considering margin */
    }
    /* card info page */
    .card-info-row {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-info-pic {
        flex: none;
    }

    .card-info-details {
        flex: none;
        /* Reset flex value to prevent resizing */
    }

}