/* nav bar */
nav {
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(254, 254, 254, 0.75);
    z-index: 1000;
    height: 75px;
    border-bottom: thin solid lightgrey;
}

nav li {
    padding-left: 20px;
}

/* images */
.scaled-down-logo {
    max-width: 125px;
}

.centre-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    background-color: auto;
}

.copyright-text {
    text-align: center;
    font-size: 14px;
    color: #fefefe;
}

.footer-text {
    font-size: 14px;
}

.block {
    background-color: #0072AD;
}

/* homescreen page */
.homescreen {
    padding-top: 75px;  
}

.homescreen-img-format {
    padding-block: 0px;

}

/* general */
body {
    /* background-color: auto; */
    padding-top: 85px;  
}

.padding {
    padding: 20px;
}

.marking {
    /*remove*/
    border: thin solid red;
}

.centre-text {
    text-align: center;
}

.container {
    padding-bottom: 100px;
}

.errorMessage p {
    color: red;
}

/* cards page */
.beside-search-button-padding {
    padding-bottom: 20px;
}

.rounded-button {
    border-radius: 30px;
}

.full-length-button {
    width: 100%;
}

.filter-card-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* Divide the grid into two columns, 1/5 and 4/5 */
    grid-gap: 10px;
}

.filter-tab {
    margin-top: 3px;
    margin-bottom: 3px;
}


.card {
    padding: 10px;
    transition: transform .2s;
    flex: 1 0 auto;
    /* flex-grow: 1, flex-shrink: 0, flex-basis: auto */
    max-width: calc(25% - 1%);
    /* Calculate the max-width considering margin */
    margin: 0.5%;
    padding-bottom: 0px;
}

.card:hover {
    transform: scale(1.05);
}

.card-pic-padding {
    padding-bottom: 5%;
    max-width: 100%;
}


.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card hgroup { 
    margin-bottom: 10px; /* reducing pico.css default hgroup padding-bottom */
}

.card-count-tab article {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* card info page  */
.card-info-row {
    display: flex;
}

.card-info-pic {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    /* Take up 1/3 of the available space */

}

.card-pic {
    width: 320px;
    height: 447px;
}

.card-info-details {
    flex: 2;
    /* Take up 2/3 of the available space */
}

.card-info-details-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
}

.card-info-add-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}


.symbol-img {
    max-width: 20px;
    padding-bottom: 4px;
}


/* welcome page */
.welcome {
    grid-gap: 10px;
    display: flex;
    justify-content: space-evenly;

}

.welcome button {
    min-width: 200px;
}

/* account page */
.account-options {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.account-options article {
    width: 220px;
    height: 275px;
    text-align: center;
}

.account-options img {
    width: 150px;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* account settings page */
.edit-account-details label {
    text-align: start;
}

.delete-tab button {
    background-color: rgb(180, 35, 35);
    border-color: rgb(180, 35, 35);
}

.delete-tab {
    border-color: rgb(180, 35, 35);
}

/* wishlist and my collections page */
.wishlist-collections-delete button {
    background-color: rgb(180, 35, 35);
    border-color: rgb(180, 35, 35);
}

/* my collections page */
.create-new-collections label {
    text-align: start;
}

/* collectioninfo page */
.collectioninfo-button-tab {
    grid-row-gap: 0px;
}

.like_button img {
    max-width: 40px;
    max-height: 40px;
}

.like_button button {
    padding: 5px;
}

.card-like-count-tab {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* all collections page */
.all-collection-button-tab {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* admin functions */
.admin-button {
    background-color:  #F4CA34;
    border-color: #EEBF02;
}

/* add card page */
.add-card-details h4 {
    color: #0072AD;
}

.attack-info-heading {
    padding-bottom: 15px;
}
 
.inline-text {
    display: inline;
    margin-right: 5px;
}


/* night mode view */
@media (prefers-color-scheme: dark) {
    nav {
        background-color: rgba(19, 23, 31, 0.75);
        border-bottom: thin solid #0072AD;
    }
}


/* tablet view */
@media (max-width: 1023px) {

    /* cards page  */
    .filter-card-grid {
        grid-template-columns: 1fr 2fr;
        /* could be 1,3 */
    }

    .card {
        max-width: calc(50% - 1%);
        /* Calculate the max-width considering margin, could be 33% */
    }

    /* card info page */
    .card-info-row {
        flex-direction: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-info-pic {
        flex: 1;
    }

    .card-info-details {
        flex: 1;

    }

    .card-info-details-bottom {
        grid-template-columns: repeat(1, 1fr);
        /* One column for tablet mode */
    }

    .card-info-add-buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }


    /* account page */
    .account-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
        justify-content: space-evenly;
        justify-items: center;
    }

}


/* phone view */

@media (max-width: 767px) {

    /* cards page  */
    .filter-card-grid {
        display: flex;
        flex-direction: column;
    }

    .card {
        max-width: calc(50% - 1%);
        /* Calculate the max-width considering margin */
    }

    /* card info page */
    .card-info-row {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-info-pic {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-info-details {
        flex: none;
        /* Reset flex value to prevent resizing */
    }

    /* welcome route */
    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome button {
        min-width: 300px;
    }

    /* sign up and account settings */
    .no-row-gap {
        grid-row-gap: 0px;
    }

}